body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: auto;
}
.titulo{
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 70px;
text-align: left;
margin-top: auto;
color: #25F5D8;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: -20px;
}
.subtitulo{
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 10px;
    color: #3F3D56;
}
.box-resposta{
    background: #25F5D8;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    
    align-items: center;
    text-align: right;
    justify-content: center;
    margin-left: 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    color: #3F3D56;

    align-items: center;
    text-align: right;
    justify-content: center;

    margin-top: 10px;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.text-resposta{
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    color: #3F3D56;

    align-items: center;
    text-align: right;
    justify-content: center;

    margin-right: 10px;
}
.box-pergunta{
    background: #F57D49;
    border-radius: 8px;
    width: 170px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;

    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    align-items: center;
    text-align: left;
    justify-content: center;

    margin-top: 10px;

    justify-items: center;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8C30F5;
}
footer{
    background: #3F3D56;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.header{
    background-color: #8C30F5;
}
.page-total{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8C30F5;
    padding-left: 10px;
    padding-bottom: 20px;
}